{{template "pageStart.html" .}}
<div class="col-md-12">
  <form class="" action="/posts" method="post">
    <div class="row form-group">
      <label for="title">Titolo</label>
      <input type="text" name="title" value="" class="form-control">
    </div>
    <div class="row form-group">
      <label for="body">Testo</label>
      <textarea name="body" rows="8" cols="80" class="form-control"></textarea>
    </div>
    <div class="col-lg-3 col-lg-offset-8">
      <button type="submit" class="btn btn-lg admin-primary">Salva</button>
    </div>
  </form>
</div>
{{template "pageEnd.html" .}}
